.lol {
  border: 1px solid#00ff00;
}
.global {
  justify-content: center;
}
#banner {
  background-image: url(../img/banner-full.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 685px;
}
.frase {
  text-align: center;
}
.frase h1 {
  font-size: 48px;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
.frase-about {
  text-align: center;
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.frase-about h2 {
  color: #ffffff;
}
.frase-about p {
  color: #ffffff;
}
.butun {
  background-color: #086375;
  color: white;
  padding: 10px 40px 10px 40px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.services {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b-shadow {
  -webkit-box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.52);
  box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.52);
}
.services:nth-child(1) {
  align-items: flex-end;
  padding-bottom: 30px;
}
.services:nth-child(2) {
  align-items: start;
  padding-bottom: 30px;
}
.services:nth-child(3) {
  align-items: flex-end;
}
.services:nth-child(4) {
  align-items: start;
}
.services h6 {
  background-color: #000;
  color: #ffffff;
  padding: 8px 40px 8px 40px;
  width: 334px;
  text-align: center;
  margin-bottom: 0px;
}
.services-gallery {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-gallery h6 {
  background-color: #000;
  color: #ffffff;
  padding: 8px 40px 8px 40px;
  width: 270px;
  text-align: center;
}
.frasebanner {
  color: #ffffff;
  padding-top: 42px;
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
.fones {
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  padding-top: 96px;
}
.fones ul:nth-child(1) {
  color: white;
  margin-right: 117px;
  margin-top: -39px;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.fones ul:nth-child(2) {
  color: white;
  margin-right: -60px;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
#about {
  background-image: url(../img/bg-about.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: auto;
}
footer {
  background-color: #f1f0fd;
  height: auto;
}
.fease {
  padding-top: 200px;
}
/*reset css*/
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.Rwviews {
  background-color: #07004d;
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Rwviews h5 {
  padding-top: 20px;
}
.Rwviews2 {
  background-color: #07004d;
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Rwviews2 h5 {
  padding-top: 48px;
}
.Rwviews3 {
  background-color: #07004d;
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Rwviews3 h5 {
  padding-top: 38px;
}
.Rwviews4 {
  background-color: #07004d;
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Rwviews4 h5 {
  padding-top: 35px;
}
.mobilebanner {
  display: none;
}
.desktopbanner {
  display: block;
}
.proplace h5 {
  color: #161d6f;
  padding-bottom: 10px;
}
.proplace ul li {
  color: #484848;
  padding-bottom: 20px;
  font-size: 16px;
}
.partner1 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.partner2 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner3 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner4 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partnerships ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
}
/*mobile*/
@media only screen and (max-width: 600px) {
  .mobilebanner {
    display: block;
    background-image: url(../img/banner-mobile.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 685px;
  }
  .desktopbanner {
    display: none;
  }
  .frasebanner {
    color: #ffffff;
    padding-top: 0px;
    margin-top: -24px;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }
  .fones ul:nth-child(2) {
    color: white;
    margin-right: 29px;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
  }
  .frase h1 {
    font-size: 24px;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
  }
  .services:nth-child(1) {
    align-items: center;
    padding-bottom: 30px;
  }
  .services:nth-child(2) {
    align-items: center;
    padding-bottom: 30px;
  }
  .services:nth-child(3) {
    align-items: center;
    padding-bottom: 30px;
  }
  .services:nth-child(4) {
    align-items: center;
    padding-bottom: 30px;
  }
}
/* novo menu */
.main-menu {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
.nav-open .main-menu {
  opacity: 1;
  visibility: visible;
  background: #07004d;
}
.main-menu .nav li a {
  color: #fff;
  font-size: 5vh;
  font-weight: 600;
  margin-right: -70px;
}
.main-menu .nav li {
  opacity: 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  -moz-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  -o-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
}
.nav-open .main-menu .nav li {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
.main-menu .nav li.delay-1 {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  text-align: start;
}
.main-menu .nav li.delay-2 {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  text-align: start;
}
.main-menu .nav li.delay-3 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  text-align: start;
}
.main-menu .nav li.delay-4 {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  text-align: start;
}
.main-menu .nav li.delay-5 {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  text-align: start;
}
.main-menu .nav li.delay-6 {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  text-align: start;
}
.nav-button {
  position: relative;
  z-index: 1111;
  height: 42px;
  display: block;
  width: 50px;
  padding: 12px;
}
.nav-button #nav-icon3 {
  width: 24px;
  height: 22px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav-button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-open {
  background: #ffffff !important;
}
.nav-button #nav-icon3 span:nth-child(1) {
  top: 0;
}
.nav-button #nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 7px;
}
.nav-button #nav-icon3 span:nth-child(4) {
  top: 14px;
}
.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%;
}
.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #ffffff;
}
.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #ffffff;
}
.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%;
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: center;
  height: 100%;
}

.aspas {
  width: 37px;
  height: 28px;
}
